* {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.topNavBar {
    border: 1px solid red;
    margin-top: 20px;
    min-width: 800px;
}
.logo {
    float: left;
}
.logo-fs {
    font-family: 'Yu Gothic Medium';
    color: #E37B6F;
    font-size: 18px;
}
.nav ul {
    float: right;
    padding-top: 2px;
}
.nav ul li {
    font-size: 14px;
    /* color: gray; */
    float: left;
    list-style: none;
    margin: 0   10px;
}
.nav ul li a {
    color: gray;
    font-size: 13px;
}
.banner {
    border: 1px solid blue;
    background-image: url(img/bannner.png) ;
    
}